{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "entry"
      }
    ],
    [
      "@babel/react",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
