@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.bp {
  .el-checkbox__label {
    padding-left: 6px;
  }

  .el-dropdown-menu {
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    .popper__arrow {
      display: none;
    }
  }

  .el-dropdown-menu__item {
    line-height: 39px;
    height: 37px;
  }

  .el-dropdown-menu__item--divided {
    margin-top: 0;
    border-top: 1px solid #f2f2f2;
  }

  .el-dropdown-menu__item--divided::before {
    height: 0;
  }

  .el-popper[x-placement^=bottom] {
    margin-top: 0;
  }

  .el-table {
    thead th {
      text-transform: uppercase;
      border-top: 1px solid #dee2e6;
      border-bottom: 2px solid #dee2e6;
    }
  }

  .bp-pages {
    margin-top: 20px;
    text-align: right;
  }

  .form-help {
    color: #737373;
  }

  .form-help-inline {
    margin-left: 10px;
  }

  .box-toolbar {
    @include clearfix;

    margin-bottom: 20px;

    .button-bar {
      float: left;
    }

    .search-bar {
      float: right;
      text-align: right;

      .br {
        border: none;
        display: block;
        height: 5px;
        line-height: 5px;
        margin: 0;
      }

      .el-form-item {
        margin: 0 0 0 5px;
        vertical-align: bottom;
      }

      .el-form-item__content .el-input-group {
        vertical-align: bottom;
      }
    }
  }
}
