@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.bp {
  -webkit-font-smoothing: antialiased;

  .el-checkbox__label {
    padding-left: 6px;
  }

  .delete-dialog {
    .el-message-box__status {
      font-size: 66px !important;
      color: #e6a23c;
    }

    .el-message-box__message {
      h3 {
        margin-top: 0;
      }

      div {
        color: #6f727d;
      }
    }
  }

  .v-modal {
    opacity: 0.3;
  }

  .el-button--mini,
  .el-button--small {
    border-radius: 2px;
  }

  .el-button--mini,
  .el-button--mini.is-round {
    padding: 6px 12px;
  }

  .el-dropdown-menu {
    padding: 0;
    box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.2);

    .popper__arrow {
      display: none;
    }
  }

  .el-dropdown-menu__item {
    line-height: 39px;
    height: 37px;
  }

  .el-dropdown-menu__item--divided {
    margin-top: 0;
    border-top: 1px solid #f2f2f2;
  }

  .el-dropdown-menu__item--divided::before {
    height: 0;
  }

  .el-popper[x-placement^=bottom] {
    margin-top: 0;
  }

  .el-table {
    thead th {
      text-transform: uppercase;
      border-top: 1px solid #dee2e6;
      border-bottom: 2px solid #dee2e6;
    }
  }

  .bp-pages {
    margin-top: 20px;
    text-align: right;
  }

  .form-help {
    color: #737373;
  }

  .form-help-inline {
    margin-left: 10px;
  }

  .box-toolbar {
    @include clearfix;

    margin-bottom: 20px;

    .button-bar {
      float: left;
    }

    .search-bar {
      float: right;
      text-align: right;

      .br {
        border: none;
        display: block;
        height: 5px;
        line-height: 5px;
        margin: 0;
      }

      .el-form-item {
        margin: 0 0 0 5px;
        vertical-align: bottom;
      }

      .el-form-item__content .el-input-group {
        vertical-align: bottom;
      }
    }
  }
}
