@mixin clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.bp {
  .el-form-item__label {
    font-size: 13px;
    line-height: 36px;
  }

  .el-form-item__content {
    line-height: 36px;
  }

  .el-checkbox__label {
    padding-left: 6px;
  }

  .el-input__inner {
    padding: 0 10px;
  }

  .el-dropdown-menu {
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    .anticon {
      font-size: 12px;
    }

    .popper__arrow {
      display: none;
    }
  }

  .el-dropdown-menu__item {
    line-height: 39px;
    height: 39px;
  }

  .el-dropdown-menu__item--divided {
    margin-top: 0;
    border-top: 1px solid #f2f2f2;
  }

  .el-dropdown-menu__item--divided::before {
    height: 0;
  }

  .el-popper[x-placement^=bottom] {
    margin-top: 0;
  }

  .el-table td,
  .el-table th {
    padding: 12px 0 9px 0;
  }

  .el-table {
    font-size: 13px;

    thead th {
      text-transform: uppercase;
      border-top: 1px solid #dee2e6;
      border-bottom: 2px solid #dee2e6;
    }

    .el-button--mini,
    .el-button--mini.is-round {
      padding: 5px 6px 4px 6px;
    }
  }

  .el-card {
    border-radius: 2px;

    .el-card__header {
      background-color: #fefefe;
      padding: 15px 20px 13px 20px;
      font-size: 15px;
    }
  }

  .text-mono {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .text-nowrap {
    white-space: nowrap;
  }

  .bp-pages {
    margin-top: 20px;
    text-align: right;
  }

  .form-help {
    font-size: 13px;
    color: #737373;
  }

  .form-help-inline {
    margin-left: 10px;
  }

  .box-toolbar {
    @include clearfix;

    margin-bottom: 20px;

    .buttons {
      float: left;
    }

    .search-form {
      float: right;

      .el-form-item {
        margin: 0;
      }

      .el-form-item__content {
        line-height: 32px;
      }
    }
  }
}
