$--color-primary: #2e9dff;
$--size-base: 13px;
$--font-size-base: 13px;
$--font-size-large: 16px;
$--font-size-small: 12px;
$--input-medium-font-size: 13px;
$--input-small-font-size: 12px;
$--input-mini-font-size: 11px;
$--button-font-size: 13px;
$--button-medium-font-size: 13px;
$--button-small-font-size: 12px;
$--border-radius-base: 2px;
$--border-radius-small: 1px;
$--pagination-border-radius: 2px;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
