.placeholder-animation {
  &.placeholder-text-row,
  .placeholder-text-row {
    animation: placeholder-pulse 1.5s infinite;
  }
}

@keyframes placeholder-pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
