@import "../../styles/base.scss";

.bp-header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  height: $headerHeight;
  border-bottom: 1px solid $borderColor;
  padding: 0 0 12px 0;
}

i.trigger {
  font-size: 19px;
  line-height: $headerHeight - 1;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
  padding: 0 15px;

  &:hover {
    background: #e6f7ff;
  }
}
