body {
  background: #fff;
  margin: 0;
  overflow-x: hidden;
  color: #67757c;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}

a:focus,
a:hover {
  text-decoration: none;
}

svg {
  pointer-events: none;
}
